[Desktop Entry]
Type=Application
Name=Runa
Comment=Graphical AUR and repository package manager for Arch Linux
Exec=runa
Icon=runa
Terminal=false
Categories=System;PackageManager;
StartupNotify=true
